# mssql-python
* https://github.com/microsoft/mssql-python
* [learn](https://learn.microsoft.com/en-us/sql/connect/python/mssql-python/python-sql-driver-mssql-python?view=sql-server-ver17)
* [connection string syntax](https://learn.microsoft.com/en-us/sql/connect/ado-net/connection-string-syntax?view=sql-server-ver17)

In [2]:
!pip install mssql-python

Requirement already satisfied: mssql-python in d:\software\miniconda3\lib\site-packages (0.7.0)

In [3]:
import mssql_python
import pandas as pd


def pd_print(obj):
    if obj is None:
        return
    # from IPython.core.display import HTML
    # display(HTML(pd.json_normalize(obj).to_html()))
    from IPython.core.display import display_html, HTML
    display_html(HTML(pd.json_normalize(obj).to_html()))

# Establish a connection
# Specify connection string
connection_string = "SERVER={server_name};DATABASE={database_name};UID={user_name};PWD={password};Encrypt={encrypt};".format(
    server_name="127.0.0.1,1433",
    database_name="TestDB",
    user_name="sa",
    password="admin123!",
    encrypt="no"
)
connection = mssql_python.connect(connection_string)
 
# Execute a query
cursor = connection.cursor()
cursor.execute("SELECT * from Inventory")
rows = cursor.fetchall() 

# 列名
col_names = []
for c in cursor.description:
  col_names.append(c[0])
col_names

# 展示数据
datas = []
for row in rows:
    data = {}
    for col_index in range(len(col_names)):
      data[col_names[col_index]] = row[col_index]
    datas.append(data)

pd_print(datas)

# Close the connection
connection.close()

,id,name,quantity
0,1,banana,150
1,2,orange,154

# jupysql
* https://jupysql.ploomber.io/en/latest/integrations/mssql.html

In [4]:
!pip install pyodbc

Requirement already satisfied: pyodbc in d:\software\miniconda3\lib\site-packages (5.2.0)

In [5]:
import pyodbc
pyodbc.drivers()

['SQL Server',
 'ODBC Driver 17 for SQL Server',
 'Microsoft Access Driver (*.mdb, *.accdb)',
 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)',
 'Microsoft Access Text Driver (*.txt, *.csv)',
 'Microsoft Access dBASE Driver (*.dbf, *.ndx, *.mdx)']

In [6]:
from sqlalchemy import create_engine
from sqlalchemy.engine import URL

connection_url = URL.create(
    "mssql+pyodbc",
    username="sa",
    password="admin123!",
    host="localhost",
    port=1433,
    database="TestDB",
    query={
        "driver": "ODBC Driver 17 for SQL Server",
        "Encrypt": "no",
        "TrustServerCertificate": "yes",
    },
)
engine = create_engine(connection_url)

In [7]:
%load_ext sql
%sql engine

In [8]:
%sqlcmd tables

+-----------+
|    Name   |
+-----------+
| Inventory |
+-----------+

In [9]:
%sqlcmd columns --table Inventory

+----------+------------------------------------------+----------+---------+---------------+---------+
|   name   |                   type                   | nullable | default | autoincrement | comment |
+----------+------------------------------------------+----------+---------+---------------+---------+
|    id    |                 INTEGER                  |  False   |   None  |     False     |   None  |
|   name   | NVARCHAR(50) COLLATE "Chinese_PRC_CI_AS" |  False   |   None  |     False     |   None  |
| quantity |                 INTEGER                  |  False   |   None  |     False     |   None  |
+----------+------------------------------------------+----------+---------+---------------+---------+

In [1]:
%%sql
SELECT * FROM Inventory

Running query in 'mssql+pyodbc://sa:***@localhost:1433/TestDB?Encrypt=no&TrustServerCertificate=yes&driver=ODBC+Driver+17+for+SQL+Server'

+----+--------+----------+
| id |  name  | quantity |
+----+--------+----------+
| 1  | banana |   150    |
| 2  | orange |   154    |
+----+--------+----------+